* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#inImagemDesktop {
    max-width: 100%;
    display: block;

}

#inImagemMobile {
    max-width: 100%;
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(141, 19, 19, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.container form {
    text-align: center;
}

.container p {
    margin-bottom: 20px;
}

.container input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #62c3db;
    box-sizing: border-box;
}

.container input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    #inImagemDesktop {
        
        display: none; 
    }
    #inImagemMobile {
        display: block; 
    }
}
